
{% load fegt9_mpg_proteksaun_url %}


							    	<table class="table table-sm">

													<thead class="bg-light">
														<tr class="border-0">
															<th class="border-0">Nu</th>
															<th class="border-0">level</th>
								
															<th class="border-0">#</th>
													
														</tr>
													</thead>
													<tbody>


														<tr>
														<td>1</td>
															<td>jeral</td>
															<td>


                                                                

                                                             <!-- <a href="{% url 'rekrutamentu:publikavaga' dados.id|encrypt_id_tag %}" class="btn btn-primary btn-sm" >  <i class=" fas fa-volume-up"></i> Publika vaga</a> -->
                                                             <a href="{% url 'hrmsconf:hrmsconfrequestset' tab 'jeral'%}" class="btn btn-primary btn-sm" >  <i class="fas fa-edit"></i> </a>

                                                        
                                                             

                                                            </td>
															<tr>
															<td colspan='2'>
														<center><b>Seluk</b></center>
															</td>

															<tr>
														</tr>



                                                        {% for dados in dadospr %}
														<tr>
														
															<td>{{forloop.counter}}</td>
															<td>{{forloop.counter}}</td>
													
															<td>


                                                                

                                                             <!-- <a href="{% url 'rekrutamentu:publikavaga' dados.id|encrypt_id_tag %}" class="btn btn-primary btn-sm" >  <i class=" fas fa-volume-up"></i> Publika vaga</a> -->
                                                             <a href="{% url 'purchase_request:editrequestpurchase' dados.id|encrypt_id_tag %}" class="btn btn-primary btn-sm" >  <i class="fas fa-edit"></i> </a>

                                                             

                                                            </td>
														</tr>
                                                        {% endfor %}
													
													</tbody>
												</table>
                          